# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.pac man.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity AID\Module 5\pac man\.idea\.idea.pac man\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
